@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Noto+Serif+KR:300|Sriracha');

@media (max-width:640px) {
    *{
        user-select: none;
    }
    
    body{
        font-family: Noto Sans KR;
    }
    
    header{
        background-color:#232f3e;
        width:100%;
        height:100px;
    }
    header h1{
        float:left;
        margin-left:20px;
        width:calc(25% - 50px);
        height:100%;
    }
    header h1 a{
        background:url(../images/abooks_logo.png) no-repeat center 37px;
        background-size:contain;
        width:80px;
        display:block;
        height:100%;
    }

    .headerIn{
        width:65%;
        height:100%;
        float:right;
        
    }
    .headerTop{
        width:100%;
        height:50%;
        padding-top:10px;
        box-sizing: border-box;
    }
    .search{
        display: none;
    }
    
    .utill{
        width:auto;
        color:#fff;
    }
    .utill ul{}
    .utill ul li{
        float:left;
        height:100%;
        width:25%;
    }
    .smallSearch{
        display:block;
        text-align: center;
    }
    .signIn{

    }
    .signInBig{
        display:none;
    }
    .signInSmall{
        display:block;
        text-align: center;
    }
    .orders{
    
    }
    .ordersBig{
        display:none;
    }
    .ordersSmall{
        display:block;
        text-align: center;
    }
    .utill ul .cart{
        margin-right:0;
    }
    .cartBig{
        display:none;
    }
    .cartSmall{
        display:block;
        text-align: center;
    }

    .headerBottom{
        width:100%;
        height:50%;
        position: relative;
    }
    .headerBottom>div{
        position: absolute;
    }
    .going{
        width:100%;
        left:50%;
        transform: translateX(-50%);
    }
    .going a{
        display:inline-block;
        width:40%;
        float: left;
        text-align: center;
    }
    .going a i{
        color:#fff;
        font-size:40px;
    }
    .going .category{
    
    }
    .cs{
        color:#fff;
        right:0;
        bottom:0;
    }
    .csGuide{
        display:none;
    }
    .csGuide p span{
        color:#febd69;
    }
    .csSmall{
        display:block;
        margin-right:10px;
        margin-bottom:5px;
    }

    /* --------------alist--------------- */

    #aList{
        display:block;
        margin-top:20px;
        width:100%;
        overflow: hidden;
    }
    
    /* aslider */
    .aSliderWrap{
        position:relative;
    }
    
    
    .aSlider{
        width:100%;
        height:150px;
        position: relative;
    }
    .aSlider>div{
        
    }
    .aSlider .item{
        background-size:cover;
        width:100%;
        height:100%;
        background-repeat: no-repeat;
        background-position: center;
        left:50%;
        transform: translateX(-50%) scale(0.9);
        position: absolute;
        border-radius: 10px;
        overflow: hidden;
        z-index:0;
        opacity: 0;
        transition: all 1s;
    }
    .aSlider .item a{
        display: block;
        width:100%;
        height:100%;
    }
    .aSlider .item p{
        position: absolute;
        bottom:0;
        left:50%;
        transform:translateX(-50%);
        width:100%;
        background:rgba(223, 217, 217, 0.7);
        text-align:center;
        font-size:15px;
        letter-spacing: 0.2rem;
    }
    .aSlider .item1{
        background-image:url(../images/alist_banner-01.jpg);
    }
    .aSlider .item2{
        background-image:url(../images/alist_banner-02.jpg);
        background-position: center;
    }
    .aSlider .item3{
        background-image:url(../images/alist_banner-03.jpg);
    }
    .aSlider .showing{
        z-index:1;
        opacity:1;
        transform:translateX(-50%) scale(1);
    }
    #aList .slideBtn{
        font-size:50px;
        width:100%;
        position: absolute;
        top:43%;
        z-index: 5;
    }
    
    #aList .slideBtn button{
        position: absolute;
        border:none;
        background:none;
        font-size:20px;
        outline: none;
        cursor: pointer;
        color:rgba(0,0,0,0.5);
    }
    #aList .slideBtn button:first-child{
        left:2%;
    }
    #aList .slideBtn button:last-child{
        right:2%;
    }
    
    /* weekAlister */
    
    .weekAlister{
        width:100%;
        height:auto;
        position: relative;
        border-radius: 10px;
        background:url(../images/alister_bg.jpg) no-repeat center;
        background-size: cover;
        margin-top:30px;
    }
    
    .weekAlister .bg{
        width:100%;
        height:100%;
        background:rgba(250, 246, 219, 0.7);
        padding:30px 10px 100px 10px;
        box-sizing: border-box;
        
    }
    
    .weekAlister .bg>div{
        
    }
    
    .intro{
        width:100%;
        
        text-align: center;
        position: relative;
        margin-bottom:50px;
    }
    .intro:after{
        content:'';
        display:block;
        width:1px;
        height:70px;
        background:#000;
        position: absolute;
        top:50%;
        left:330px;
        transform:translateY(-50%);
        display: none;
    }
    .intro h3{
        letter-spacing: 2px;
    }
    .introImg{
        background:url(../images/bomtol.png) no-repeat center;
        background-size:cover;
        width:100px;
        height:100px;
        border-radius: 50%;
        margin:30px auto;
    }   
    .introTxt{}
    .introTxt h4{
        margin-bottom:30px;
    }
    .introTxt p{
        margin:0 auto;
        width:80%;
        font-size:14px;
        text-align: justify;
    }
    
    .alisterInner{
        
    }
    .alisterInner>p{
        text-align: justify;
        text-indent:20px;
        font-family: Noto Serif KR;
        display: none;
    }
    .alisterInner .more{
        display: block;
        position: absolute;
        bottom:20px;
        left:50%;
        transform: translateX(-50%);
    }
    .alisterInner .more i{
        font-size:30px;
        color:#232f3e;
        display:block;
        text-align: center;
    }
    .alisterInner .more span{
        display:block;
        font-size:11px;
        font-family: Noto Serif KR;
        font-weight: bold;
        text-align: center;
    }
    
    .firstAlist{
        width:100%;
    }
    .firstAlist li{
        width:100%;
        border:none;
        padding:7px 15px 7px 5px;
        box-sizing: border-box;
        background:rgba(247, 237, 182, 0.9);
        border-radius: 10px;
        margin-bottom:5px;
        box-shadow:2px 2px 5px #000;
    }
    .firstAlist li:last-child{
        margin-bottom:0;
    }
    .firstAlist li a{
        display: block;
        width:100%;
        position: relative;
    }
    .firstAlist li a>div{
        
    }
    .firstAlist li a .firstAlistImg{
        background:url(../images/society1.jpg) no-repeat center;
        background-size:contain;
        width:50px;
        height:50px;
        left:0;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
    .firstAlist li:nth-child(2) a .firstAlistImg{
        background-image: url(../images/shoko.jpg);
    }
    .firstAlist li:last-child a .firstAlistImg{
        background-image: url(../images/angel.jpg);
    }
    .firstAlist li a .firstAlistTxt{
        width:80%;
        text-align: justify;
        float:right;
    }
    .firstAlist li a .firstAlistTxt p{
        font-size:13px;
        font-weight: bold;
    }
    .firstAlist li a .firstAlistTxt span{
        font-size:12px;
        font-weight:300;
    }
    /* vote */
    .vote{
        font-size:50px;
        width:100%;
        position:relative;
        left:50%;
        transform: translateX(-50%);
        margin-top:30px;
    }
    .vote .goToVote{
        position: relative;
        display:block;
        width:100%;
        height:120px;
        
    }
    
    .vote .goToVote .voteKor{
        position:absolute;
        bottom:0;
        left:50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .vote .goToVote .voteKor i{
        color:#232f3e;
        font-size:50px;
    }
    .vote .goToVote .voteKor span{
        display: block;
        font-size:20px;
    }
    
    .vote .goToVote .voteEng{
        font-family:Sriracha;
        position: absolute;
        line-height: 1;
        opacity:0.2;
        text-align: right;
        font-size:30px;
    }
    .vote .goToVote .voteEng:after{
        content:'';
        display: block;
        width:60px;
        height:15px;
        background:#00ffbfb7;
        position: absolute;
        right:5px;
        bottom:0;
        z-index:-999;
    }
    .vote .goToVote .voteEng:last-child:after{
        width:50px;
    }
    .vote .goToVote .voteEng:first-child{
        top:5px;
        left:5px;
    }
    .vote .goToVote .voteEng:last-child{
        right:5px;
        bottom:5px;
    }
    
    /* -----------newAlist------------- */
    
    .newAlist{
        width:100%;
        position: relative;
        left:50%;
        transform: translateX(-45%);
        margin-top:50px;
        height:50px;
    }
    
    .newHq{
        position: absolute;
        text-align:center;
        top:-5px;
        left:0;
        background:url(../images/new.png) no-repeat center;
        background-size:cover;
        width:70px;
        height:70px;
        z-index: 1;
    }
    .newHq:hover p{
        display:block;
    }
    .newHq p{
        font-size:10px;
        width:70px;
        height:70px;
        box-sizing: border-box;
        color:#fff;
        background:#232f3e;
        border-radius: 50%;
        display:none;
        transition:all 0.5s;
        text-align: center;
        line-height:70px;
    }
    
    
    .newList{
        position: absolute;
        width:140%;
        height:100%;
        left:10px;
        top:5px;
    }
    .newList>div{
    
    }
    .newList>div a{
        display:block;
        width:50px;
        height:50px;
        border-radius: 50%;
        z-index: -999;
        outline: none;
        overflow: hidden;
        position:relative;
        
    }
    .newList>div a img{
        width:50px;
        position: absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }
    
    /* alistFeed */
    
    .alistFeed{
        margin-top:50px;
        width:100%;
        position: relative;
        left:50%;
        transform: translateX(-50%);
        
    }
    .alistFeed ul{
        width:100%;
        height:auto;
        
    }
    .alistFeed ul li{
        margin:0 auto;
        width:90%;
        border:none;
        background:/* rgba(247, 237, 182, 0.9) */#fff;
        border-radius: 10px;
        margin-bottom:10px;
        box-shadow:2px 2px 5px #000;
        padding:20px 0 20px 0;
        box-sizing: border-box;
    }
    .alistFeed ul li a{
        display: block;
        width:100%;
        position: relative;
    }
    .alistFeed ul li a>div{
        
    }
    
    .feedInfo{
        width:100%;
        margin:0 auto;
    }
    
    .feedCover{
        margin-left:50px;
        width:50px;
    }
    
    .feedInner{
        width:100%;
        text-align: justify;
        
        padding:30px;
        box-sizing: border-box;
    }
    .feedInner h3{
        margin-bottom:10px;
    }
    .feedInner h3 span{
        font-size:11px;
        margin-left:20px;
    }
    .feedInner span{
        font-size:12px;
    }
    
    .userName{
        position: absolute;
        top:5px;
        right:30px;
        font-size:10px;
    }
    .userName i{
        font-size:10px;
        margin-right:3px;
        vertical-align: middle;
    }
    
    /* footer */

    footer{
        width:100%;
        background:#232F3E;
        color:#fff;
    }

    .toTheTop{
        width:100%;
        height:50px;
    }
    .toTheTop a{
        display: block;
        width:100%;
        height:100%;
        text-align: center;
        line-height:50px;
        background:rgba(255,255,255,0.1);
        transition:all 0.2s;
        font-size:15px;
    }
    .toTheTop a:hover{
        background:rgba(255,255,255,0.2);
    }

    .footerIn{
        position: relative;
        width:100%;
        height:150px;
    }
    .footerIn .footerInWrap{
        width:100%;
        padding:30px 10px 10px 30px;
        box-sizing: border-box;
        text-align: center;
    }
    .footerIn .footerInWrap ul{
        float:left;
        width:calc(33.33% - 10px);
        margin-right:10px;

    }
    .footerIn .footerInWrap ul:last-child{
        margin-right:0;
    }
    .footerIn .footerInWrap ul h4{
        font-weight:normal;
        margin-bottom:5px;
        font-size:12px;
    }
    .footerIn .footerInWrap ul li{
        margin-bottom:2px;
    }
    .footerIn .footerInWrap ul li a{
        font-size:9px;
    }

    .footerBottom{
        width:100%;
        height:50px;
        position: relative;
    }
    .footerBottomWrap{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
    }
    .footerBottomWrap>div{
        float:left;
    }
    .footerLogo{
        margin-right:20px;
    }
    .footerLogo img{
        width:60px;
        vertical-align: center;
    }
    .lang{}
    .langDefault{
        font-size:12px;
        border:1px solid #fff;
        border-radius: 10px;
        padding:5px 10px;
        box-sizing: border-box;
        cursor: pointer;
    }
    .langDefault i{
        margin-left:10px;
    }
    .otherLang{
        display: none;
    }

    /* -----------------for script----------------- */

    .categoryIn .on{
        opacity: 1;
    }

    #category.on{
        display:block;
    }
    #aList.on{
        display:block;
    }
    #category.off{
        display:none;
    }
    #aList.off{
        display:none;
    }

}